.google_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    border-radius: 8px;
    padding: 10px;
    background-color: #e3fae3;
    border: 1px solid #afe1af;
    margin-top: 20px;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    font-weight: bold;
    span{
        padding-left: 10px;
    }
}

.google_btn:hover{
    background-color: #d1ffd1;

}