*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.signin__img__container, .sign__in__form__container{
    @include flex_center()
}

.signin__img__container{
    background-color: blue;
    img{
        width: 100%;
    }
}


.sign__in__form__container{
    background-color: red;
}