input{
    border: 1.4px solid #E0E7FF;
    border-radius: 7px;
    padding: 12px;
    color: grey;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    outline: 1.4px solid #afe1af ;
}